.container {
  width: 100%;
  margin: 0 auto;
}

.container-content {
  max-width: 80em;
  padding: 0em 1em;
}
@media only screen and (max-width: 600px) {
  header .container{
    height: auto;
  }
  .container-content {
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    text-align: center;
  }
}