.historyLegend {
    color: gray;
    background-color: rgb(38,38,38);
    padding: .8em 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.historyLegend .orange{
    border-bottom:2px dashed rgb(255, 187, 0);
}
.historyLegend .orangered{
  border-bottom:2px dashed rgb(255, 145, 0);
}
.historyLegend .red{
  border-bottom:2px dashed rgb(255, 0, 0);
}
.historyLegend  p {
    color: gray;
    font-size: .8em;
    text-align: center;
    margin: 0;
  }