.historyLegend {
    color: gray;
    background-color: rgb(38,38,38);
    padding: .8em 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .orange{
      border-bottom:10px dotted rgb(255, 187, 0);
    }
    .orangered{
      border-bottom:10px dotted rgb(255, 145, 0);
    }
    .red{
      border-bottom:10px dotted rgb(255, 0, 0);
    }
    p {
      color: gray;
      font-size: .8em;
      text-align: center;
      margin: 0;
  }
  a{
    color:gray;
  }
  } 

@media only screen and (max-width: 600px) {
  .historyLegend ul{
      grid-template-columns: 1fr;
     
  }
}