.tracker-stats {

    color: rgb(13, 231, 42);
    background-color: rgb(36, 36, 36);
    border-top: solid 1px darken($blue-grey-900, 5);
  
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
  }
  
  .tracker-stat {
  
    font-size: 2em;
    text-align: center;
    padding: .5em;
    border-right: solid 1px darken(rgb(20, 212, 68), 5);
    border-bottom: solid 1px darken(rgb(20, 212, 68), 5);
  
    strong {
      font-weight: normal;
      color: $blue-grey-300;
    }
  
  }
  
  .tracker-stat-primary {
  
    margin: 0;
  
    strong {
      display: block;
      font-size: .5em;
    }
  
  }
  
  .tracker-stat-secondary {
  
    font-size: .5em;
    margin: .8em 0 0;
  
    strong {
      font-size: .8em;
      margin-left: .4em;
    }
  
  }

  .indexDashboard-last-updated {
    color: white;
    background-color: rgb(36, 36, 36);
    padding: .8em 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    p {
      color: $blue-grey-300;
      font-size: .8em;
      text-align: center;
      margin: 0px;
    }
    span{
      text-align: center;
      margin-right: 20px;
    }
    a{
      color: rgb(13, 231, 42);
    }
    .LR{
      border-bottom:2px dashed rgb(74, 229, 74);;
    }
    .MR{
      border-bottom:2px dashed rgb(48, 203, 0);
    }
    .HR{
        border-bottom:2px dashed rgb(15, 146, 0);
    }
    .EW{
        border-bottom:2px dashed rgb(0, 98, 3);
    }
  
  }
  @media only screen and (max-width: 600px) {
    .tracker-stats ul{
        grid-template-columns: 1fr;
       
    }
  }