
.test-stats {

    color: rgb(10, 10, 10);
    background-color: #d2d5d5;
    border-top: solid 1px darken($blue-grey-900, 5);
  
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
  }
  
  .test-stat {
  
    font-size: 2em;
    text-align: center;
    padding: .5em;
    border-right: solid 1px darken($blue-grey-900, 5);
    border-bottom: solid 1px darken($blue-grey-900, 5);
  
    strong {
      font-weight: normal;
      color: rgb(67, 107, 116);
    }
  
  }
  
  .test-stat-primary {
  
    margin: 0;
  
    strong {
      display: block;
      font-size: .5em;
    }
  
  }
  
  .test-stat-secondary {
  
    font-size: .5em;
    margin: .8em 0 0;
  
    strong {
      font-size: .8em;
      margin-left: .4em;
    }
  
  }

  .test-last-updated {

    color: rgb(24, 22, 22);
    background-color: #d2d5d5;
    padding: .8em 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    p {
      color: rgb(67, 107, 116);
      font-size: .8em;
      text-align: center;
      margin: 0;
    }
    .l3{
        border-bottom:2px dashed rgb(7, 223, 236);
    }
    .t35{
    border-bottom:2px dashed rgb(1, 178, 254);
    }
    .t510{
        border-bottom:2px dashed rgb(7, 110, 229);
    }
    .m10{
        border-bottom:2px dashed rgb(15, 57, 255);
    }
}
@media only screen and (max-width: 600px) {
    .test-stats ul{
        grid-template-columns: 1fr;
       
    }
  }